@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html{
    font-family: 'RaleWay',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    text-align: center;
}

#Form{
    background-color: white;
    border-radius: 5px;
    margin: 5%;
}
.label{
    line-height: 35px;
    display: inline-block;
    text-align: left;
}
#number{
    width: 162px;
}

.label .choices{
    text-align: left;
}

#text_area{
    display: inline-block;
    text-align: left;
    width: 48%;
}

#submit{
    background-color:aquamarine;
    color:#f9f9f9;
    padding:10px 15px;
    
    border-right:5px f2f2f2;
    border-left:5px f2f2f2;
    border-top:5px f2f2f2;
    border-bottom:5px f2f2f2;
}