@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');


html{
    font-family: 'Sorts Mill Goudy', serif;
}

body{
    margin: 0;
    background-color: #e0ddd5;
}

header{
    background: #c6934b;
    width: 100%;
}

header::after{
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 80%;
    margin: 0 auto;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;


    position: relative;
}

.logo{
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    float: left;
    padding: 5px;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250px;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: #000;
}

nav a:hover::before{
    width: 100%;
}


#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 70px;
    padding: 20px;
    font-size: 30px;
}

#submit{
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c6934b;
}

.grid{
    display: flex;
    padding: 20px 20px 50px 15px;
    
}

.services{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-left: 20px;
}

.space{
    padding-left: 20px;
    padding-right: 20px;
}

#shield{
    display: flex;
    justify-content: center;
    padding-left: 150px;
    color: #283d70;
}

.repair{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-left: 60px;
}

#tools{
    display: flex;
    justify-content: center;
    padding-left: 150px;
    color: #283d70;
}

.video{
    display: flex;
    justify-content: center;
}

.pricing{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.package{
    margin-right: 20px;
    width: 500px;
    border: solid black 2px;
}

.package h2{
    display: flex;
    justify-content: center;
}

.desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-color: #2e3546;
    font-size: 40px;
    color: white;
}


.content{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

.area{
    display: flex;
    justify-content: center;
    text-align: center;
}

.button{
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #c6934b;
    font-size: 30px;
}

.button a{
    text-decoration: none;
    color: black;
}


footer{
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
}

footer ul{
    display: flex;
    justify-content: flex-end;
}

footer li{
    padding: 0 10px;
    list-style-type: none;
}

span{
    display: flex;
    justify-content: flex-end;
}

