html{
    background-color: #307969;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title{
    background-color: #66ba9d; 
}

#image{
    border: 5px solid #66ba9d;
    border-radius: 50%;
}

#tribute-info{
    text-align: left;
    line-height: 35px;
    margin: 40px;
    background-color: silver;
    border: 2px solid silver;
    border-radius: 5px;

}



